# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/RenderingEngine.iml
.idea/vcs.xml
cmake-build-debug-visual-studio/.cmake/api/v1/query/cache-v2
cmake-build-debug-visual-studio/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug-visual-studio/.cmake/api/v1/query/codemodel-v2
cmake-build-debug-visual-studio/.cmake/api/v1/query/toolchains-v1
cmake-build-debug-visual-studio/.cmake/api/v1/reply/cache-v2-6083474aa19f95eaa814.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/cmakeFiles-v1-9f6c5ebedda6edfa7727.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/codemodel-v2-71f91f1d03713b816a9f.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-dep.SDL-Debug-6085a6e6068c060957d6.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/index-2022-03-08T12-13-54-0711.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-moteur-Debug-863ac6a3b831b7c91cca.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-SDL2-Debug-14939187d9ecaf771933.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-SDL2-static-Debug-1d2035340ff0e2762db1.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-SDL2main-Debug-cf42639e43725ae5fbc8.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-uninstall-Debug-145f77203100a9697ae9.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/toolchains-v1-f37f84e8afe666f38c9c.json
cmake-build-debug-visual-studio/build.ninja
cmake-build-debug-visual-studio/cmake_install.cmake
cmake-build-debug-visual-studio/CMakeCache.txt
cmake-build-debug-visual-studio/CMakeFiles/3.21.1/CMakeCCompiler.cmake
cmake-build-debug-visual-studio/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
cmake-build-debug-visual-studio/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug-visual-studio/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug-visual-studio/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
cmake-build-debug-visual-studio/CMakeFiles/3.21.1/CMakeSystem.cmake
cmake-build-debug-visual-studio/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-visual-studio/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-visual-studio/CMakeFiles/clion-environment.txt
cmake-build-debug-visual-studio/CMakeFiles/clion-log.txt
cmake-build-debug-visual-studio/CMakeFiles/cmake.check_cache
cmake-build-debug-visual-studio/CMakeFiles/CMakeError.log
cmake-build-debug-visual-studio/CMakeFiles/CMakeOutput.log
cmake-build-debug-visual-studio/CMakeFiles/rules.ninja
cmake-build-debug-visual-studio/CMakeFiles/ShowIncludes/foo.h
cmake-build-debug-visual-studio/CMakeFiles/ShowIncludes/main.c
cmake-build-debug-visual-studio/CMakeFiles/TargetDirectories.txt
cmake-build-debug-visual-studio/dep/SDL/cmake_install.cmake
cmake-build-debug-visual-studio/dep/SDL/cmake_uninstall.cmake
cmake-build-debug-visual-studio/dep/SDL/CMakeFiles/Export/cmake/SDL2mainTargets-debug.cmake
cmake-build-debug-visual-studio/dep/SDL/CMakeFiles/Export/cmake/SDL2mainTargets.cmake
cmake-build-debug-visual-studio/dep/SDL/CMakeFiles/Export/cmake/SDL2staticTargets-debug.cmake
cmake-build-debug-visual-studio/dep/SDL/CMakeFiles/Export/cmake/SDL2staticTargets.cmake
cmake-build-debug-visual-studio/dep/SDL/CMakeFiles/Export/cmake/SDL2Targets-debug.cmake
cmake-build-debug-visual-studio/dep/SDL/CMakeFiles/Export/cmake/SDL2Targets.cmake
cmake-build-debug-visual-studio/dep/SDL/include/SDL_config.h
cmake-build-debug-visual-studio/dep/SDL/include/SDL_revision.h
cmake-build-debug-visual-studio/SDL2ConfigVersion.cmake
cmake-build-debug-visual-studio/Testing/Temporary/LastTest.log
